
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

h1 {
    color: #333;
}

#forecast-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 2px solid #ccc; 
    padding: 10px; 
    border-radius: 10px; 
}

.weather-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    width: calc(20% - 20px); 
    box-sizing: border-box; 
}

#previous-searches {
    margin-top: 20px;
    list-style: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
}

#previous-searches li {
    cursor: pointer;
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
}
